.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.jobListingTitle{
  max-width: 350px;
  font-size: 18px !important;
  font-weight: 700px;
  margin:30px;
}
.jobTitle{
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.closeContainer{
  height:15px;
  position:relative;
}
.closeButton{
  cursor: pointer;
  position:absolute;
  right:-10px;
  top:-10px;
}
.jobModal{
  margin:20px;
  padding:20px;
  border:1px solid #eaeaea;
  height:420px;
  width:400px;
  z-index: 2;
  position: absolute;
  background-color: #f5f4fa;
  border-radius: 12px;
}
.jobStatus{
  position: relative;
  text-align: center;
  border-radius: 12px;
}
.jobStatus.active{
  background-color:blue !important;
  color:#fff !important;
}
.jobStatus.toPriced{
  background-color: #37375a !important;
  color:#fff !important;
}
.jobStatus.invoicing{
  background-color: #0c9cae !important;
  color:#fff !important;
}

.jobStatus.completed{
  background-color:green !important;
  color:#fff !important;
}

.jobStatus.scheduled{
  background-color:orangered !important;
  color:#fff !important;
}


.jobsContainer{
  max-width: 98vw !important;
display:flex;
justify-content:flex-start;
background-color:#ebebeb;
padding:20px;
margin:20px;
border-radius:12px;
  min-height: 160px;
}

.jobInstance{
  margin:20px;
  cursor: pointer;
  
}
.jobInstance:hover{
  background-color: #f5f4fa;
}
.filterInstance{
  margin:5px;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}
.filterInstance.all{
  background-color: #aeaeb7;
  color: #505050;
}
.filterInstance.all.selected{
  background-color: #505050;
  color: #fff;
}
.filterInstance.active.selected{
  background-color: blue;
  color: #fff;

}
.filterInstance.active:hover{
  background-color: #4444a9;
  color: #fff;

}
.filterInstance.toPriced.selected{
  background-color: #37375a;
  color: #fff;

}
.filterInstance.toPriced:hover{
  background-color: #494967;
  color: #fff;

}
.filterInstance.invoicing.selected{
  background-color: #0c9cae;
  color: #fff;

}
.filterInstance.invoicing:hover{
  background-color: #3f747c;
  color: #fff;

}
.filterInstance.completed.selected{
  background-color:green;
  color: #fff;

}
.filterInstance.completed:hover{
  background-color: #35ae35;
  color: #fff;

}
.filterInstance.scheduled:hover{
  background-color: #d75a2b ;
  color: #fff;

}

.filterInstance.scheduled.selected{
  background-color: orangered ;
  color: #fff;

}

.active{
  border: 2px solid blue;
}
.toPriced{
  border: 2px solid #37375a !important;
}
.invoicing{
  border: 2px solid #0c9cae !important;
}
.completed{
  border: 2px solid green;
}

.scheduled{
  border: 2px solid orangered;
}

.practiceHeading{
  font-size: 26px;
  padding-left:20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background-color: #2545c3;
}